
".source.r":
  "function":
    "prefix": "func"
    "body": """
    ${1:description} <- function(${2:variable}) {
      ${3:code}
    }
    """

".source.r":
  "function":
    "prefix": "readbigtable"
    "body": """
    initial <- read.table("${1:filepath}", nrows = 100)
    classes <- sapply(initial, class)
    ${2:tableName} <- read.table(${1:filepath}, colClasses = classes)
    """

".source.r":
  "function":
    "prefix": "readbigtable"
    "body": """
    initial <- read.table("${1:filepath}", nrows = 100)
    classes <- sapply(initial, class)
    ${2:tableName} <- read.table("${1:filepath}", colClasses = classes)
    """
